<!--
  Generated template for the Foryou page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle icon-only>
	    <ion-icon name='menu'></ion-icon>
	  </button>
    <ion-title>Event Hub</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-list>
		<ion-item *ngFor="let event of events" >
			<ion-card (click)="toDetail(event)">
			  <img *ngIf="event.logo" src="{{event.logo.url}}"/>
			  <ion-card-content>
			    <ion-card-title>
			      {{event.name.text}}
			      </ion-card-title>
			    <p *ngIf="event.description.text">
			      {{event.description.text | limitTo: 100}}
			    </p>
			  </ion-card-content>
			  <ion-row no-padding>
		      <ion-col>
		        <button ion-button clear small color="danger" icon-left>
		          <ion-icon name='star'></ion-icon>
		          Favorite
		        </button>
		      </ion-col>
		      <ion-col text-center>
		        <button ion-button clear small color="danger" icon-left>
		          <ion-icon name='musical-notes'></ion-icon>
		          Listen
		        </button>
		      </ion-col>
		      <ion-col text-right>
		        <button ion-button clear small color="danger" icon-left>
		          <ion-icon name='share-alt'></ion-icon>
		          Share
		        </button>
		      </ion-col>
		    </ion-row>
			</ion-card>
		</ion-item>
	</ion-list>
</ion-content>
