<ion-menu [content]="content">
  <ion-header>
    <img src="./assets/cover.jpg" />
    <ion-item *ngIf="userReady">
      <ion-avatar item-left>
        <img *ngIf="user.avatar" src="{{user.avatar}}">
      </ion-avatar>
      <h2 *ngIf="user.name">{{user.name}}</h2>
      <p *ngIf="user.email">{{user.email}}</p>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngIf="!userReady" (click)="toLogin()"><ion-icon name="key"></ion-icon>Login</button>
      <button ion-item *ngFor="let p of menus" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" id="nav" #content></ion-nav>