<!--
  Generated template for the User page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
  <ion-card>
    <img src="https://scontent.xx.fbcdn.net/v/t31.0-8/s720x720/16299777_10202525723942465_6407553825482707946_o.jpg?oh=bb8a8de36778efd680eb365f49e8db71&oe=5949C96C"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

	<ion-list>
		<ion-item *ngIf="userReady">
      <ion-avatar item-left>
        <img *ngIf="user.avatar" src="{{user.avatar}}">
      </ion-avatar>
      <h2 *ngIf="user.name">{{user.name}}</h2>
      <p *ngIf="user.email">{{user.email}}</p>
		</ion-item>
	</ion-list>

  <ion-item (click)="editAccount()" >Edit account</ion-item>

  <button ion-button block (click)="logout()">Logout</button>
</ion-content>
